php:
	timezone: europe/prague
nette:
	application:
		scanDirs: false

services:
	requestFactory: h4kuna\Test\Http\RequestFactory
	httpRequest:
		class: Nette\Http\Request
		factory: @requestFactory::create('http://www.example.com')

extensions:
	imageManager: h4kuna\ImageManager\DI\ImageExtension

imageManager:
	upload:
		sourcePath: %tempDir%/original
		maxResolution: 100x100
	remoteSource:
		domain: 'http://production-server.com/assets'
	# noImage: # filesystem path
	public:
		tempUrl: temp/image
		tempDir: %tempDir%/tempImage #filesystem path
		allowedResolutions:
			- 20x20
			- 30x30
			- 40x40
	shortcuts:
		basic: 10
